@{
	ViewBag.Title = "Find";
}

<div class="row">
	<div class="span12">
		<div class="well">
			<p>Find a Motherfucker</p>
			<input class="input-xxlarge" id="MemberSearch">
		</div>
	</div>
</div>

@section PageBottomScript { 
<script type="text/javascript">


</script>
	
	
	
}
