.tabstrip .top a:link {color:#DF805F;}
.tabstrip .top a:visited {color:#DF805F;}
.tabstrip a:link {color:#F16482;}
.tabstrip a:visited {color:#F16482;}
.profile h3{color:#427EB4;border-color:#C2EBEF; }
h3{color:#427EB4;border-color:#C2EBEF; }
.profile_section_header {color:#427EB4;border-color:#C2EBEF; }
.accent {color:#F16482; border-color:#C2EBEF; }
#mh_left{width:100%; background-image: url(hentai-tastic-left.gif);}
#mh_outer{width:100%; background-image: url(hentai-tastic-middle.gif);}
#mh_right{width:100%; background-image: url(hentai-tastic-right.gif);}
.shadetabs li a{color: #427EB4;}
.shadetabs li a:visited{color: #427EB4;}