<h3>Authenticate, Please</h3>

@if (ViewBag.ErrorMessage != null) {
	<p>
		@ViewBag.ErrorMessage
	</p>
}

<form method="post" action="/">
OtakuBooty Member Name<br>
<input type="text" name="Login"><br>
Password<br>
	<input type="password" name="Password"></br>
<br>
<input type="submit">
</form>
