<h3>Authenticate, Please</h3>

<form method="post" action="/">
Email<br>
<input type="text" name="Email"><br>
Password<br>
	<input type="password" name="Password"></br>
<br>
<input type="submit">
</form>
