.memberPicture_50 {
	height: 50px;
	overflow: hidden;
	width: 50px;	
}

.memberPicture_thumb {
	height: 75px;
	overflow: hidden;
	width: 75px;	
}

.memberPicture_150 {
	height: 150px;
	overflow: hidden;
	width: 150px;	
}

a.memberProfile {
	font-weight:bold;	
}

small blockquote {
font-style:italic;		
}

table.notifications blockquote {
	color: #777;
	border-left: none;	
	padding-left: 0;
	padding-top: 5px;
	margin-bottom: 5px;
	margin-left: 0;
}

table.notifications h3, h4 {
	font-size: 13px;	
	color: #777;
}

table.notifications small {
	font-size: 11px;
	color: #999;
}

.memberPictureThumbnails p {
	text-align: center;
	font-size: smaller;
	float:left;
	margin: 5px;
}

.alert ul {
	margin-bottom: 0px;	
}

a:active, a:hover, a:visited, a:focus, a {
	outline:0;
}
